.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 60px 200px 60px;

  /*SHORT HAND*/
  /* grid-template: repeat(2, 40px) / repeat(2, 1fr); */

  grid-gap: 3px;
}

.header {
  /*YOU CAN USE -1 THAT JUST MEANS TO EXPAND TO THE LAST COLUMN LINE*/
  grid-column: 1 / -1;
}

.menu {
}

.content {
}

.footer {
  grid-column: 1 / -1;
}
